# Supabase settings
PUBLIC_SUPABASE_URL='https://jigjuumczobkkuwtyvql.supabase.co'
PUBLIC_SUPABASE_ANON_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImppZ2p1dW1jem9ia2t1d3R5dnFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc1NTMzOTcsImV4cCI6MjA2MzEyOTM5N30.Bd4YgBQixdB_r7InS-RM4Y8HX7gNe-984iYPiMU5gdI'
PRIVATE_SUPABASE_SERVICE_ROLE='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImppZ2p1dW1jem9ia2t1d3R5dnFsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NzU1MzM5NywiZXhwIjoyMDYzMTI5Mzk3fQ.EcVshYE3xNZbR-znfXlCWbgWTmqL71acTLb6JArPZ74'

# Stripe settings
PRIVATE_STRIPE_API_KEY='REPLACE_ME'

# Optional - settings for email

# Email address admin messages will be sent to
# PRIVATE_ADMIN_EMAIL='your_email@example.com'
# Email address messages will be sent from
# PRIVATE_FROM_ADMIN_EMAIL='no_reply@example.com'
# Resend API key
# PRIVATE_RESEND_API_KEY='your_resend_api_key'